trigger: none
pool:
  name: mySytem

stages:
  - stage: DockerImage
    displayName: Docker Image
    jobs:
      - job: DockerImageJob
        displayName: Docker Image Job
        steps:
        - task: Docker@2
          inputs:
            containerRegistry: 'ACR'
            repository: 'todoui'
            command: 'buildAndPush'
            Dockerfile: '**/Dockerfile'
            tags: |
              $(Build.BuildId)
              latest
  - stage: Deplyment
    jobs:
      - job: kuberneteDeployment
        displayName: Kubernetes Deployment Job
        steps:
        - task: KubernetesManifest@1
          inputs:
            action: 'deploy'
            connectionType: 'kubernetesServiceConnection'
            kubernetesServiceConnection: 'k8'
            namespace: 'default'
            manifests: 'manifests/deployment.yml'
